section.reveal
    section
        h2 O que iremos ver ?
        ol
            li O que é, o que come, onde vive ?
            li Metadados
            li Semântica e sua importância
            li Algumas tags

    section
        h4 O que é, o que come, onde vive ?
        img(src='./img/sergio-chapelin-globo-reporter.jpg')

    section.reveal
        h4 Camadas client-side
        ol
            li A informação, que é o HTML que vai exibi-la na página.
            li CSS, que vai formatar esse HTML de forma que fique legível, usável, bonito.
            li Definição de comportamento desses elementos, que é o Javascript e Ajax.
        br
        p Deles o HTML é mais importante. É o HTML que cuida da exibição da formatação.
        p É ele que serve os <strong>buscadores</strong> e <strong>leitores de tela</strong>.
        p É ele que serve a informação para aplicações e te dão toda a informação que você busca na web todos os dias.