section
    section
        h3 Semântica e sua importância
        p Em todas as páginas da Web existem divisões básicas referentes aos tipos de conteúdo que são colocados em cada parte do layout, como cabeçalho, rodapé ou menu de navegação.
        img(src='./img/estrutura-site.jpg')

    section
        h3 Semântica e sua importância
        p Nas versões anteriores do HTML não haviam tags com uma semântica apropriada para cada uma dessas divisões.
            | Dessa forma, os desenvolvedores acabavam usando a tag
            string div
            | &nbsp;para todas as situações, e criando seus próprios padrões de nomeclaturas através dos atributos&nbsp;
            strong id
            | &nbsp;ou&nbsp;
            string class
            | .

    section
        h3 Semântica e sua importância
        p No HTML5 foram criadas diversas tags semânticas para indicar aos user-agents quais conteúdos estão sendo inseridos em cada uma das divisão da página, organizando e padronizando o desenvolvimento.
        img(src='./img/anatomia-do-HTML5.png')

    section
        h3 Cabeçalho com o elemento header
        pre
            code
                | <header>
                |  <img alt="logo" src="/img/logo.png">
                |  <h1>Entendo a estrutura e semântica do HTML5</h1>
                |  <form action="www.enderecodosite.com.br/search" id="searchform" method="get">
                |   <label for="s">Pesquisa</label>
                |   <input type="text" placeholder="Pesquisa" id="s">
                |   <input type="submit" value="Pesquisa" class="submit">
                |  </form>
                | </header>

    section
        h3 Navegação Global com o elemento nav
        small O novo elemento nav do HTML5 serve para agrupar uma lista de links para outras partes do site, seja essa lista de navegação local ou global. Esses blocos de links podem estar em diferentes partes do layout, como no cabeçalho ou no rodapé.
        pre
            code
                | <nav>
                |  <ul class="menu">
                |   <li><a href="inicio.html">Início</a></li>
                |   <li><a href="quem-somos.html">Quem somos</a></li>
                |   <li><a href="servicos.html">Serviços</a></li>
                |   <li><a href="contato.html">Contato</a></li>
                |  </ul>
                | </nav>

        img(src='./img/meme-ok-dedao.png', class='fragment', height='130')

    section
        h3 Diferentes sessões com o elemento section
        small O novo elemento&nbsp;
            strong section
            | &nbsp;do HTML5 é o menos especifico entre as novas tags. A diferença do&nbsp;
            strong section
            | &nbsp;para um&nbsp;
            strong div
            | &nbsp;é que o primeiro serve para dividir o conteúdo em diferentes sessões, que podem conter elementos como&nbsp;
            strong header
            | &nbsp;ou&nbsp;
            strong article
            | , enquanto o segundo divide qualquer conteúdo, sem uma finalidade específica.
        pre
            code
                | <section>
                |  <article>
                |   (...)
                |  </article>
                | </section>