section
    section
        h3 Semântica e sua importância
        p Em todas as páginas da Web existem divisões básicas referentes aos tipos de conteúdo que são colocados em cada parte do layout, como cabeçalho, rodapé ou menu de navegação.
        img(src='./img/estrutura-site.jpg')

    section
        h3 Semântica e sua importância
        p Nas versões anteriores do HTML não haviam tags com uma semântica apropriada para cada uma dessas divisões.
            | Dessa forma, os desenvolvedores acabavam usando a tag
            string div
            | &nbsp;para todas as situações, e criando seus próprios padrões de nomeclaturas através dos atributos&nbsp;
            strong id
            | &nbsp;ou&nbsp;
            string class
            | .

    section
        h3 Semântica e sua importância
        p No HTML5 foram criadas diversas tags semânticas para indicar aos user-agents quais conteúdos estão sendo inseridos em cada uma das divisão da página, organizando e padronizando o desenvolvimento.
        img(src='./img/anatomia-do-HTML5.png')