section.reveal

    h3 Metadados
    p Os Metadados são um conjunto de informações a respeito da página e do conteúdo nela publicado.
    p Essas informações são usadas pelos navegadores e user-agents em geral, normalmente sendo invisíveis para os usuários.

    pre
        code
            | <head>
            | <meta charset="utf-8">
            | <title>Entendo a estrutura e semântica do HTML5</title>
            | <meta name="keywords" content="HTML5, Palestra HTML, HTML">
            | <meta name="description" content="Palestra sobre HTML.">
            | <meta name="author" content="Diego Ramos">
            | <meta name="robots" content="index,follow">
            | </head>

    small Informações como Title e Description por exemplo, são usadas pelos mecanismos de busca para montar uma SERP (Search Engine Results Page).