section
    h2 O que iremos ver ?
    ol
        li HTML. O que é, o que come, onde vive ?
        li Metadados
        li Microdados
        li Semântica e sua importância
        li Algumas tags
        li Referências

