section.reveal
    img(src='./img/disclaimer.jpg', height='250')
    p Essa palestra foi feita pensando numa abordagem prática .
    p O objetivo é mostrar assuntos de maneira introdutória e direcionar pontos para aprofundamento .