section
    h6 Referências
    ul
        li
            a(href='http://www.frontinrio.com.br/' target='_blank') Front in Rio - HTML Edition
        li
            a(href='http://www.w3.org/TR/html4/struct/links.html#edef-A' target='_blank') tag a
        li
            a(href='http://www.w3.org/TR/html4/struct/global.html#edef-SPAN' target='_blank') tag span
        li
            a(href='http://www.w3.org/TR/html4/struct/global.html#edef-H1' target='_blank') tags h1..h6
        li
            a(href='http://www.w3.org/TR/html4/struct/lists.html#edef-LI' target='_blank') tags ul,ol,li
        li
            a(href='http://www.w3.org/TR/html4/struct/text.html#edef-P' target='_blank') tag p
        li
            a(href='http://www.kadunew.com/blog/html/a-importancia-do-html-semantico' target='_blank') Importância do HTML semântico
        li
            a(href='https://html5boilerplate.com/' target='_blank') HTML5 Boilerplate
        li
            a(href='http://www.sublimetext.com/' target='_blank') Editor Sublime Text
        li
            a(href='https://www.jetbrains.com/webstorm/' target='_blank') Editor Webstorm
        li
            a(href='http://schema.org/' target='_blank') Schema.org
        li
            a(href='http://tableless.com.br/introducao-a-microdata-no-html5/' target='_blank') Introdução Microdata
        li
            a(href='http://code.tutsplus.com/tutorials/28-html5-features-tips-and-techniques-you-must-know--net-13520' target='_blank') Técnicas HTML5