section.reveal(data-background="#F01313")
    h2 AVISO
    br
    p Essa palestra foi feita pensando numa abordagem prática .
    p O objetivo é mostrar assuntos de maneira introdutória e direcionar pontos para aprofundamento .